<ion-header>
  <ion-toolbar>
    <ion-title>ejercicio5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<pre>
    - Pasar el formulario reactivo de HTML a IONIC
    - Completar formulario con el resto de campos del usuario.
    - Añadir un validador al username para que tenga que tener al menos 8 caracteres
    - No permitir que el usuario envíe el formulario si no es válido
    - Mostrar mensajes de error en los campos que no sean válidos
    - Cuando se le de a submit, hacer una petición PUT a https://jsonplaceholder.typicode.com/users y mostrar en la consola la respuesta de la petición 
</pre>
</ion-content>
