<div>
  <h1>User Form</h1>
  <form [formGroup]="userForm" *ngIf="user && userForm">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" required formControlName="name">

      Errores: {{ userForm.get('username').errors | json }}
      <!-- Dirty?:  {{ userForm.get('user').dirty }}
      Error Required:  {{ userForm.get('user').errors['required'] }}
      Error Required:  {{ userForm.get('user').errors.required }} -->


    </div>

    <div>
      <label for="username">Username: </label>
      <input type="text" id="username" name="username" required formControlName="username">
    </div>

    <div [class.controlInvalido]="emailControl.invalid">
      <label for="email">Email: </label>
      <input type="email" id="email" name="email" email formControlName="email">
      <br/>
      <div *ngIf="emailControl.invalid">El email no es válido</div>
    </div>

    <h4>Address</h4>
    <div formGroupName="address">
      <div>
        <label for="street">Street:
          <input type="text" id="street" name="street" formControlName="street">
        </label>
      </div>
      <div>
        <label for="city">City:
          <input type="text" id="city" name="city" formControlName="city">
        </label>
      </div>
      <div>
        <label for="zipcode">Zip Code:
          <input type="text" id="zipcode" name="zipcode" formControlName="zipcode">
        </label>
      </div>
    </div>

    <ion-button [disabled]="userForm.invalid" (click)="onSubmit()">Submit</ion-button>

  </form>
</div>
