<ion-header>
  <ion-toolbar>
    <ion-title>catalog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="labels-list">
    <ion-list-header>Catalog</ion-list-header>

    <ion-item *ngFor="let product of catalog" lines="none">
      <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
      <ion-label>{{ product.name }}</ion-label>
      <p>{{ product.price }}</p>
      <ion-button (click)="add(product)">Añadir al carrito</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
